<div class="container">
  <div class="login-container">
    <div id="output"></div>
    <div class="avatar"></div>
    <div class="form-box">
      <form #f="ngForm" (ngSubmit)="submit(f)">
        <input type="text"     name="user"     placeholder="{{ 'Username' | trans }}" [(ngModel)]="username" required />
        <input type="password" name="password" placeholder="{{ 'Password' | trans }}" [(ngModel)]="password" required />
        <button class="btn btn-info btn-block login" type="submit">{{ 'Login' | trans }}</button>
      </form>
    </div>
    <div *ngIf="error" class="error">
      {{ 'Bad credential' | trans }}
    </div>
  </div>
</div>
