<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" routerLink="" style="cursor: pointer;">
      <a class="navbar-brand">
        <i class="glyphicon glyphicon-home"></i>
      </a>
      <span class="navbar-brand">{{ title }}</span>
    </div>
    <ul class="nav navbar-nav" *ngIf="menus.length > 0">
      <li
        *ngFor="let menu of menus"
        class="btn-group"
        dropdown
      >
          <div
            class="btn"
            [routerLink]="menu.path? menu.path : router.url"
            [queryParams]="{ path: menu.path }"
            routerLinkActive="active"
          >
            <i [ngClass]="menu.icon"></i>
            &nbsp;
            {{ menu.name }}
          </div>
          <div
            class="btn dropdown-toggle dropdown-toggle-split"
            *ngIf="menu.items && menu.items.length > 0"
            dropdownToggle
          >
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </div>
          <ul
            class="dropdown-menu"
            role="menu"
            *dropdownMenu
          >
            <li
              role="menuitem"
              *ngFor="let item of menu.items"
            >
              <a
                class="dropdown-item"
                [routerLink]="item.path"
                [queryParams]="{ path: item.path }"
                routerLinkActive="active"
                href="#"
              >
                <i [ngClass]="item.icon"></i>
                &nbsp;
                {{ item.name }}
              </a>
            </li>
          </ul>
      </li>
    </ul>
  </div>
</nav>
