<div
  class="image"
  *ngFor="let uuid of pictures | filterNotNull"
>
  <span
    class="image-close glyphicon glyphicon-remove-circle"
    (click)="removeAttachment(uuid)"
    *ngIf="!readonly"
  ></span>
  <img [src]="attachment.getUrl(uuid) | image | async" />
</div>
<div
  class="file-upload"
  [ngClass]="{'file-active': divActive}"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragenter)="onDragEnter($event)"
  (dragleave)="onDragLeave($event)"
  *ngIf="!readonly"
>
  +
</div>
