<app-menu></app-menu>
<div class="panel panel-default">
  <header class="panel-heading">
    <h4>
      <button
        type="button"
        class="btn btn-default dropdown-toggle glyphicon glyphicon-arrow-left"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="back()"
      ></button>
      <button
        type="button"
        class="btn btn-default dropdown-toggle glyphicon glyphicon-arrow-right"
        aria-haspopup="true"
        aria-expanded="false"
        (click)="next()"
      ></button>
      &nbsp;&nbsp;<b>{{ titleSrv.title }}</b>
    </h4>
  </header>
  <section class="panel-body">
    <router-outlet></router-outlet>
  </section>
</div>
