<tabset *ngIf="items.length > 0">
  <tab
    *ngFor="let item of items"
  >
    <ng-template tabHeading>
      {{ item.name }}
    </ng-template>
    <section class="info-container">
      <article
        class="card"

      >
        <div
          *ngFor="let card of toarray(item)"
        >
          <label>{{ card.key }}</label> : <span>{{ card.value }}</span>
          <!--div [ngSwitch]="item.type">
            <div *ngSwitchCase="'picture'">
              <img [src]="item.value" />
            </div>
            <div *ngSwitchDefault>
              <label>{{ item.label }}</label> : <span>{{ item.value }}</span>
            </div>
          </div-->
        </div>
      </article>
    </section>
  </tab>
</tabset>

