<tabset *ngIf="items.length > 0" [justified]="true">
  <tab
    *ngFor="let item of items"
    [removable]="true"
  >
    <ng-template tabHeading>
      {{ item.data.name }}
    </ng-template>
    <section class="info-container">

      <footer *ngIf="item.enableEdition" class="btn-group" role="group">
        <button type="button" class="btn"
                [ngClass]="{'btn-success': item.saved,'btn-danger': item.savedError}"
                (click)="saveResource(item);"
        >
            <span class="glyphicon" [ngClass]="{
              'glyphicon-floppy-disk': !item.saved,
              'glyphicon-floppy-saved': item.saved,
              'glyphicon-floppy-remove': item.savedError
            }"></span>
          Save
        </button>
      </footer>

      <article
        class="card"
        *ngFor="let group of utils.toarray(form); let i=index; trackBy:trackByFn"
      >
        <header>
          <h3 class="label label-primary">{{ group.key | trans }}</h3>
          <span class="glyphicon glyphicon-edit" style="float:right;" *ngIf="! item.enableEdition" (click)="activeResourceEdition(item);"></span>
        </header>

        <div
          *ngFor="let it of group.value"
        >
          <div [ngSwitch]="it.type">
            <!-- Type picture -->
            <div *ngSwitchCase="'picture'">
              <div *ngIf="item.enableEdition">
                <file-drop
                    class="upload-picture"
                    headertext="Drop files here"
                    (onFileDrop)="fileDrop($event)"
                >
                </file-drop>
              </div>
              <div *ngIf="! item.enableEdition">
                <img *ngIf="item.data[it.name]" [src]="item.data[it.name]" />
              </div>
            </div>
            <!-- Type colorpicker -->
            <div *ngSwitchCase="'_color'">
              <div>
                <div class="input-group">
                  <span class="input-group-addon">{{ it.label | trans }}</span>
                  <input type="button" class="form-control" style="width:100px;"
                         [colorPicker]="item.data[it.name]"
                         (colorPickerChange)="item.data[it.name]=$event"
                         [style.background]="item.data[it.name]"
                         [disabled]="! item.enableEdition"
                  />
                </div>
              </div>
            </div>
            <!-- Date picker -->
            <div *ngSwitchCase="'_date'">
              <div>
                <div class="input-group">
                  <span class="input-group-addon">{{ it.label | trans }}</span>
                  <input type="text"
                         *ngIf="item.enableEdition"
                         class="form-control"
                         #dp="bsDatepicker"
                         bsDatepicker
                         [(bsValue)]="item.data[it.name]"
                  />
                  <input type="text" class="form-control"
                         [(ngModel)]="item.data[it.name]"
                         *ngIf="! item.enableEdition"
                         [readonly]="! item.enableEdition"
                  />
                </div>
              </div>
            </div>

            <!-- Type list -->
            <div *ngSwitchCase="'resources_items'">
              <div>
                <div class="input-group">
                  <h5 *ngIf="it.label">{{ it.label | trans }}</h5>
                  <app-resource-list
                    [item]="it"
                    [itemData]="item.data"
                    (onCheck)="checkItems($event)"
                    [readonly]="! item.enableEdition"
                  >
                  </app-resource-list>
                </div>
              </div>
            </div>
            <div *ngSwitchDefault>
              <div>
                <div class="input-group">
                  <span class="input-group-addon">{{ it.label | trans }}</span>
                  <input [type]="it.type" class="form-control" [(ngModel)]="item.data[it.name]" [readonly]="! item.enableEdition" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </tab>
</tabset>
