.info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
}
.info-container .card {
  border: 1px solid #808080;
  width: 400px;
  margin : 1em;
  padding: 1em;
  flex-grow: 1;
}

.input-group {
  margin: 5px;
}
.input-group .input-group-addon {
  min-width: 100px;
  text-align: left;
}

.upload-picture {
  width: 100px;
  height: 100px;
  margin: 10px;
}

footer {
  width: 100%;
  text-align: center;
  margin: 5px;
}

footer button.btn  {
  float: none;
}
