<div class="btn-group" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button (click)="addResource()" type="button" class="btn btn-success" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-plus-sign"></span>
      {{'Add' | trans}}
    </button>
  </div>
  <div class="btn-group" role="group">
    <button (click)="removeResource()" type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-remove-sign"></span>
      {{'Delete' | trans}}
    </button>
  </div>
</div>

<ag-grid-angular
  style="width: 100%; height: 50vh;"
  class="ag-bootstrap"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [gridOptions]="gridOptions"
  (gridReady)="onGridReady($event)"
  (rowSelected)="onRowSelected($event)"
  (cellValueChanged)="onCellValueChanged($event)"
  (modelUpdated)="onModelUpdated($event)"
></ag-grid-angular>
